<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="/assets/css/syntax/{{site.syntax_highlight}}.css">
<br>
<center>
  <div class="header">
    <a class="title" href="{{site.url}}{{site.baseurl}}/">
      <b>{{site.title}}</b>
      <br>
    </a>
    <hr>
    <div class="header-links">
      <a class="title" href="/about">ABOUT</a>
      <a class="title" href="/contact">CONTACT</a>
      <a class="title" href="/projects">PROJECTS</a>
    </div>
  </div>
</center>
<br>
<br>
<div style="margin-bottom: 3ch; text-transform: none;"></div>